# GridsearchCV using SVM

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from pandas import DataFrame
#reading the csv file
df=pd.read_csv('cardiocsv.csv')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [2]:
#Converting age from number of days to years
df['age']=round(df['age']/365)
#dropping the id
df=df.drop(['id'],axis=1)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
#creating dummies for the cat data 
glucose=df['gluc']
glucose=pd.get_dummies((glucose),prefix='glucose')
glucose.head()
sex=df['gender']
sex=pd.get_dummies((sex),prefix='sex')
sex.head()
chol = df["cholesterol"]

chol = pd.get_dummies((chol),prefix='chol')
chol.head()

   chol_1  chol_2  chol_3
0       1       0       0
1       0       0       1
2       0       0       1
3       1       0       0
4       1       0       0

In [4]:
X=df.iloc[:,:-1]
y=df['cardio']

In [6]:
X=pd.concat([X,glucose,sex,chol],axis=1)
X.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,...,chol_2,chol_3,glucose_1,glucose_2,glucose_3,sex_1,sex_2,chol_1,chol_2,chol_3
0,50.0,2,168,62.0,110,80,1,1,0,0,...,0,0,1,0,0,0,1,1,0,0
1,55.0,1,156,85.0,140,90,3,1,0,0,...,0,1,1,0,0,1,0,0,0,1
2,52.0,1,165,64.0,130,70,3,1,0,0,...,0,1,1,0,0,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,...,0,0,1,0,0,0,1,1,0,0
4,48.0,1,156,56.0,100,60,1,1,0,0,...,0,0,1,0,0,1,0,1,0,0

In [7]:
X=X.drop(['gender','gluc','cholesterol'],axis=1)

In [8]:
X.shape

(70000, 24)

In [9]:
X=X.drop(['sex_1','sex_2','glucose_1','glucose_2','glucose_3','chol_1','chol_2','chol_3'],axis=1)

In [11]:
X=pd.concat([X,glucose,sex,chol],axis=1)
X.head()

,age,height,weight,ap_hi,ap_lo,smoke,alco,active,glucose_1,glucose_2,glucose_3,sex_1,sex_2,chol_1,chol_2,chol_3
0,50.0,168,62.0,110,80,0,0,1,1,0,0,0,1,1,0,0
1,55.0,156,85.0,140,90,0,0,1,1,0,0,1,0,0,0,1
2,52.0,165,64.0,130,70,0,0,0,1,0,0,1,0,0,0,1
3,48.0,169,82.0,150,100,0,0,1,1,0,0,0,1,1,0,0
4,48.0,156,56.0,100,60,0,0,0,1,0,0,1,0,1,0,0

In [13]:
X.shape

(70000, 16)

In [15]:
#feature scaling
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
import matplotlib.pyplot as plt
%matplotlib inline
X

array([[-0.49350546,  0.44345206, -0.84787326, ...,  0.57987963,
        -0.39744515, -0.36088144],
       [ 0.24556599, -1.01816804,  0.74983117, ..., -1.72449584,
        -0.39744515,  2.77099317],
       [-0.19787688,  0.07804703, -0.70894244, ..., -1.72449584,
        -0.39744515,  2.77099317],
       ...,
       [-0.19787688,  2.27047718,  2.13913938, ..., -1.72449584,
        -0.39744515,  2.77099317],
       [ 1.13245175, -0.16555632, -0.15321916, ...,  0.57987963,
        -0.39744515, -0.36088144],
       [ 0.39338029,  0.68705541, -0.15321916, ..., -1.72449584,
         2.51607046, -0.36088144]])

In [34]:
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.model_selection import train_test_split
#Splitting the data into train and test split 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((52500, 16), (17500, 16), (52500,), (17500,))

In [31]:
from sklearn.svm import SVC
from sklearn import svm

In [21]:
clf = svm.SVC(kernel='linear',gamma='auto') # Linear Kernel

In [22]:
clf.fit(X_train,y_train)

SVC(gamma='auto', kernel='linear')

In [23]:
clf.score(X_test,y_test)

0.7254857142857143

In [25]:
clfa = svm.SVC(kernel='rbf',gamma='auto') # rbf kernel

In [26]:
clfa.fit(X_train,y_train)

SVC(gamma='auto')

In [27]:
clfa.score(X_test,y_test)

0.7250285714285715

In [1]:
#!pip install plotly

# GridSearchCV

In [41]:
#GridSearchCV
from sklearn.model_selection import GridSearchCV

In [44]:
cl=GridSearchCV(svm.SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
},cv=5,return_train_score=False)

In [45]:
cl.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [47]:
cl.best_params_

{'C': 10, 'kernel': 'rbf'}

In [52]:
accuracy =cl.best_score_*100
accuracy

72.76190476190476