# RandomizedCV using SVM

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from pandas import DataFrame
#reading the csv file
df=pd.read_csv('cardiocsv.csv')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [2]:
#Converting age from number of days to years
df['age']=round(df['age']/365)
#dropping the id
df=df.drop(['id'],axis=1)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
#creating dummies for the cat data 
glucose=df['gluc']
glucose=pd.get_dummies((glucose),prefix='glucose')
glucose.head()
sex=df['gender']
sex=pd.get_dummies((sex),prefix='sex')
sex.head()
chol = df["cholesterol"]

chol = pd.get_dummies((chol),prefix='chol')
chol.head()

   chol_1  chol_2  chol_3
0       1       0       0
1       0       0       1
2       0       0       1
3       1       0       0
4       1       0       0

In [4]:
X=df.iloc[:,:-1]
y=df['cardio']

In [5]:
X=pd.concat([X,glucose,sex,chol],axis=1)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,glucose_1,glucose_2,glucose_3,sex_1,sex_2,chol_1,chol_2,chol_3
0,50.0,2,168,62.0,110,80,1,1,0,0,1,1,0,0,0,1,1,0,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1,0,0,1,0,0,0,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1,0,0,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1,0,0,0,1,1,0,0
4,48.0,1,156,56.0,100,60,1,1,0,0,0,1,0,0,1,0,1,0,0

In [9]:
#X=X.drop(['gender','gluc','cholesterol'],axis=1)
X.head()

,age,height,weight,ap_hi,ap_lo,smoke,alco,active,glucose_1,glucose_2,glucose_3,sex_1,sex_2,chol_1,chol_2,chol_3
0,50.0,168,62.0,110,80,0,0,1,1,0,0,0,1,1,0,0
1,55.0,156,85.0,140,90,0,0,1,1,0,0,1,0,0,0,1
2,52.0,165,64.0,130,70,0,0,0,1,0,0,1,0,0,0,1
3,48.0,169,82.0,150,100,0,0,1,1,0,0,0,1,1,0,0
4,48.0,156,56.0,100,60,0,0,0,1,0,0,1,0,1,0,0

In [7]:
X.shape

(70000, 16)

In [8]:
X=X.drop(['sex_1','sex_2','glucose_1','glucose_2','glucose_3','chol_1','chol_2','chol_3'],axis=1)

In [9]:
X=pd.concat([X,glucose,sex,chol],axis=1)
X.head()

,age,height,weight,ap_hi,ap_lo,smoke,alco,active,glucose_1,glucose_2,glucose_3,sex_1,sex_2,chol_1,chol_2,chol_3
0,50.0,168,62.0,110,80,0,0,1,1,0,0,0,1,1,0,0
1,55.0,156,85.0,140,90,0,0,1,1,0,0,1,0,0,0,1
2,52.0,165,64.0,130,70,0,0,0,1,0,0,1,0,0,0,1
3,48.0,169,82.0,150,100,0,0,1,1,0,0,0,1,1,0,0
4,48.0,156,56.0,100,60,0,0,0,1,0,0,1,0,1,0,0

In [10]:
X.shape

(70000, 16)

In [11]:
#feature scaling
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
import matplotlib.pyplot as plt
%matplotlib inline
X

array([[-0.49350546,  0.44345206, -0.84787326, ...,  0.57987963,
        -0.39744515, -0.36088144],
       [ 0.24556599, -1.01816804,  0.74983117, ..., -1.72449584,
        -0.39744515,  2.77099317],
       [-0.19787688,  0.07804703, -0.70894244, ..., -1.72449584,
        -0.39744515,  2.77099317],
       ...,
       [-0.19787688,  2.27047718,  2.13913938, ..., -1.72449584,
        -0.39744515,  2.77099317],
       [ 1.13245175, -0.16555632, -0.15321916, ...,  0.57987963,
        -0.39744515, -0.36088144],
       [ 0.39338029,  0.68705541, -0.15321916, ..., -1.72449584,
         2.51607046, -0.36088144]])

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.model_selection import train_test_split
#Splitting the data into train and test split 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((52500, 16), (17500, 16), (52500,), (17500,))

In [14]:
from sklearn.svm import SVC
from sklearn import svm

In [15]:
clf = svm.SVC(kernel='linear',gamma='auto') # Linear Kernel

In [16]:
clf.fit(X_train,y_train)

SVC(gamma='auto', kernel='linear')

In [17]:
clf.score(X_test,y_test)

0.7199428571428571

In [18]:
clfa = svm.SVC(kernel='rbf',gamma='auto') # rbf kernel

In [19]:
clfa.fit(X_train,y_train)

SVC(gamma='auto')

In [20]:
clfa.score(X_test,y_test)

0.7197142857142858

# RandomizedSearchCV

In [22]:
#RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [23]:
ran=RandomizedSearchCV(svm.SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
},cv=5,return_train_score=False,n_iter=2 )

In [24]:
ran.fit(X_train,y_train)

RandomizedSearchCV(cv=5, estimator=SVC(gamma='auto'), n_iter=2,
                   param_distributions={'C': [1, 10, 20],
                                        'kernel': ['rbf', 'linear']})

In [25]:
ran.score(X_test,y_test)

0.7199428571428571

In [27]:
pd.DataFrame(ran.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1       linear         0.727638
1      10       linear         0.727638

In [29]:
ran.best_params_

{'kernel': 'linear', 'C': 1}

In [30]:
ran.best_score_

0.7276380952380952

In [31]:
r_predict=ran.predict(X_test)

In [32]:
from sklearn.metrics import confusion_matrix

In [35]:
conma=confusion_matrix(r_predict,y_test)
conma

array([[7084, 3253],
       [1648, 5515]])

In [ ]:
#RandomizedCV with gamma values

In [40]:
randa=RandomizedSearchCV(svm.SVC(),{
    'C':[1,10,20],'gamma':[0.1,0.2,0.3,0.4],
    'kernel':['rbf','linear']
},cv=5,return_train_score=False,n_iter=2,verbose=3 )

In [41]:
randa.fit(X_train,y_train)

Fitting 5 folds for each of 2 candidates, totalling 10 fits
[CV 1/5] END .................C=20, gamma=0.3, kernel=linear; total time= 5.3min
[CV 2/5] END .................C=20, gamma=0.3, kernel=linear; total time= 4.7min
[CV 3/5] END .................C=20, gamma=0.3, kernel=linear; total time= 4.6min
[CV 4/5] END .................C=20, gamma=0.3, kernel=linear; total time= 4.3min
[CV 5/5] END .................C=20, gamma=0.3, kernel=linear; total time= 3.9min
[CV 1/5] END .................C=10, gamma=0.1, kernel=linear; total time= 2.9min
[CV 2/5] END .................C=10, gamma=0.1, kernel=linear; total time= 2.6min
[CV 3/5] END .................C=10, gamma=0.1, kernel=linear; total time= 5.4min
[CV 4/5] END .................C=10, gamma=0.1, kernel=linear; total time= 6.9min
[CV 5/5] END .................C=10, gamma=0.1, kernel=linear; total time= 2.7min

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=2,
                   param_distributions={'C': [1, 10, 20],
                                        'gamma': [0.1, 0.2, 0.3, 0.4],
                                        'kernel': ['rbf', 'linear']},
                   verbose=3)

In [42]:
randa.best_params_

{'kernel': 'linear', 'gamma': 0.3, 'C': 20}

In [44]:
randa.best_score_

0.7276952380952381